/* Universal Styles (Applied to Everything) */
#navbar {
  background-color: #191919;
  position: -webkit-sticky;
  position: sticky;
  left: 0px;
  width: 175px;
  height: 100vh;
}

#navbar > ul {
  background-color: inherit;
  padding: 0;
  list-style-type: none;
}

#navbar > ul > #navbarLink1 {
  border-right: 10px #747474 solid;
}

#navbar > ul > #navbarLink2 {
  border-right: 10px #44a0f4 solid;
}

#navbar > ul > #navbarLink3 {
  border-right: 10px #FF652F solid;
}

#navbar > ul > #navbarLink4 {
  border-right: 10px #DDC200 solid;
}

#navbar > ul > #navbarLink5 {
  border-right: 10px #14A76C solid;
}

#navbar > ul > .lighterNavbarButton {
  background-color: #2a2a2a;
}

#navbar > ul > .darkerNavbarButton {
  background-color: #1c1c1c;
}

#navbar > ul > li {
  background-color: inherit;
  font-size: 22px;
  width: 100%;
  color: white;
  position: relative;
}

#navbar > ul > li a {
  text-shadow: 1px 1px 2px black;
  position: relative;
  z-index: 2;
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px 18px;
  background-color: inherit;
  color: inherit;
  text-decoration: none;
  background-color: rgba(255, 0, 0, 0) !important;
}

#navbar > ul > li .onHoverEffect {
  width: 175px;
  height: 100%;
  position: absolute;
  z-index: 1;
  left: 175px;
  top: 0px;
  -webkit-transition: -webkit-transform 300ms;
  transition: -webkit-transform 300ms;
  transition: transform 300ms;
  transition: transform 300ms, -webkit-transform 300ms;
}

#navbar > ul > li :hover + .onHoverEffect, #navbar > ul > li .onHoverEffect:hover, #navbar > ul > li :hover + a {
  -webkit-transform: translate(-175px, 0);
          transform: translate(-175px, 0);
}

#navbar > ul > li #onHoverEffect1 {
  background-color: #747474;
}

#navbar > ul > li #onHoverEffect2 {
  background-color: #44a0f4;
}

#navbar > ul > li #onHoverEffect3 {
  background-color: #FF652F;
}

#navbar > ul > li #onHoverEffect4 {
  background-color: #DDC200;
}

#navbar > ul > li #onHoverEffect5 {
  background-color: #14A76C;
}

#navbar > div {
  position: absolute;
  bottom: 5px;
  right: 0px;
  background-color: inherit;
}

#navbar > div > div {
  text-align: right;
  background-color: inherit;
  margin-top: 10px;
}

#navbar > div > div p {
  display: inline-block;
  background-color: inherit;
  font-size: 12px;
  margin-right: 10px;
}

#navbar > div > div a {
  background-color: inherit;
  display: inline-block;
  margin-right: 10px;
}

#navbar > div > div a img {
  display: inline-block;
  background-color: inherit;
}

#navbar > div > div a img :last-of-type {
  margin-right: 0px;
}

/* Applies to 768px and up */
/* Applies to 992px and up */
/* Applies to basically all desktop resolutions */
