/* Universal Styles (Applied to Everything) */
#rightContent
{
    position: static;
    left: 150px;
    top: 0px;
    width: calc(100% - 150px);
}

#IntroSection
{
    width: 100%;

    div 
    {
        text-align: left;

        width: fit-content;
        max-width: 80%;
        margin-left: 10%;

        h1 
        {
            font-size: 4vw;
            margin-bottom: 20px;
        }

        p 
        {
            font-size: 2vw;
            margin-bottom: 20px;

            strong 
            {
                font-weight: 500;
                color: rgb(68, 160, 244);
            }
        }

        p:last-of-type
        {
            margin-bottom: 0;
        }
    }
}

/* Applies to 768px and up */
@media only screen and (min-width: 768px)
{
    
}

/* Applies to 992px and up */
@media only screen and (min-width: 992px)
{

}

/* Applies to basically all desktop resolutions */
@media only screen and (min-width: 1200px) 
{

}