* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Universal Styles (Applied to Everything) */
/* Applies to 768px and up */
/* Applies to 992px and up */
/* Applies to basically all desktop resolutions */
