#IntroSection
{
    width: calc(100% - 50px);
    margin: 20% auto 15% auto;

    h1 
    {
        font-size: 36px;
    }

    p 
    {
        font-size: 16px;
    }    
}

@media only screen and (min-width: 768px)
{
    #IntroSection 
    {
        // The 12.5% is just a magic number, no special significance
        margin: 10% auto 12.5% auto;

        width: 80%;
        max-width: 1000px;

        h1 
        {
            font-size: 72px;
            margin-bottom: 0;
        }

        p 
        {
            font-size: 22px;
        }
    }
}