#ProjectsSection 
{
    text-align: center;

    .boxContainer 
    {
        text-align: left;

        .boxContainerPosition
        {
            font-style: italic;

            margin-bottom: 0;
            padding-bottom: 0;

            font-size: 18px;
        }

        .boxContainerLanguages
        {
            margin-top: 0;
            padding-top: 5px;
            padding-bottom: 0;
            margin-bottom: 0;   

            font-weight: 700;
            color: #BD0000;
        }
    }

    > h1 
    {
        font-size: 36px;
        margin-bottom: 30px;
        margin-top: 150px;
    }
}

@media only screen and (min-width: 768px)
{
    #ProjectsSection 
    {
        > h1 
        {
            font-size: 48px;
        }
    }
}